<h1>Welcome to the Marketplace</h1>

<div>
  <h2>Sign Up</h2>
  <%= link_to 'Click here to sign up', new_user_registration_path, class: 'btn btn-primary' %>
</div>

<div>
  <h2>Sign In</h2>
  <%= link_to 'Click here to sign in', new_user_session_path, class: 'btn btn-secondary' %>
</div>
