<h1>All Categories</h1>

<% if can?(:create, Category) %>
  <%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
<% end %>

<%= render 'categories_table' %>
<%= link_to 'Back to homepage', homepage_path, class: 'btn btn-secondary' %>