<h1>Create New Category</h1>

<% if can?(:create, Category) %>
  <%= render 'form', category: @category %>
<% else %>
  <p>You are not authorized to create a new category.</p>
<% end %>

<%= link_to 'Back to Categories', categories_path, class: 'btn btn-secondary' %>
