<h1>Create New Product</h1>

<% if can?(:create, Product) %>
  <%= render 'form', product: @product %>
<% else %>
  <p>You are not authorized to create a new product.</p>
<% end %>

<%= link_to 'Back to Products', products_path %>
